@use '../abstracts/variables' as v;

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-1 {
    gap: v.$space-1;
}

.gap-2 {
    gap: v.$space-2;
}

.gap-4 {
    gap: v.$space-4;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.hidden {
    display: none;
}